body {
  background-color: #171717;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
}
.header {
  padding-top: 40px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4b564;
  width: 218px;
  background-color: transparent;
  cursor: pointer;
}
.phone a {
  color: #e4b564;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 10px;
  font-family: "Circe", sans-serif;
}
.first-section {
  padding-top: 120px;
  font-family: "Gilam", sans-serif;
}
.first-section h2,
.first-section p {
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 40px;
}
.first-section p {
  font-size: 20px;
}
.first-section h2 {
  font-size: 50px;
}
.first-grid-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  gap: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.first {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #634f2c;
  grid-column: 1 / 3;
}
.second {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b4a385;
  grid-column: 3 / 5;
}

.third {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4b564;
  grid-column: 5 / 7;
}

.fourth {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #635a4a;
  grid-column: 1 / 4;
}

.fifth {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b08c4d;
  grid-column: 4 / 7;
}

/* second section  */

.second-section h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 160px;
  margin-bottom: 94px;
  font-family: "Gilam", sans-serif;
}

.second-grid-section {
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(6, 1fr);
  color: #ffffff;
  font-size: 20px;
  line-height: 25px;
  font-family: "Gilam", sans-serif;
}

.text1 {
  background-color: #0e0e0e;
  font-weight: 400;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  padding: 40px 0 220px 50px;
}

.text2 {
  background-color: #242424;
  font-weight: 400;
  grid-column: 3 / 5;
  grid-row: 1 / 4;
  padding-top: 40px;
  padding-left: 50px;
}

.text3 {
  background-color: #1f1f1f;
  font-weight: 500;
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  padding-top: 40px;
  padding-left: 50px;
}

.text4 {
  background-color: #1f1f1f;
  font-weight: 500;
  grid-column: 1 / 3;
  grid-row: 3 / 7;
  padding-top: 40px;
  padding-left: 50px;
}

.text5 {
  background-color: #e4b564;
  font-weight: 500;
  color: #000000;
  grid-column: 3 / 5;
  grid-row: 4 / 7;
  padding-top: 40px;
  padding-left: 50px;
}

.text6 {
  background-color: #0e0e0e;
  font-weight: 500;
  grid-column: 5 / 6;
  grid-row: 3 / 5;
  padding-top: 40px;
  padding-left: 50px;
}

.text7 {
  background-color: #0a0909;
  font-weight: 700;
  grid-column: 5 / 6;
  grid-row: 5 / 7;
  padding-top: 40px;
  padding-left: 50px;
}

.section {
  background-color: #0e0e0e;
  margin-bottom: 240px;
  margin-top: 190px;
  font-family: "Gilam", sans-serif;
}

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 60px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4b564;
  width: 180px;
  background-color: transparent;
  cursor: pointer;
}

.projects a {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  padding: 10px;
  font-family: "Circe", sans-serif;
}

.section-container h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 391px);
  color: #ffffff;
  text-align: center;
}

.item1 {
  background-color: #634f2c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item2 {
  background-color: #e8d2abc2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.address {
  padding-top: 16px;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 12px;
}
.address span {
  font-weight: 400;
}

.item3 {
  background-color: #e4b564;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item4 {
  background-color: #635a4a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item5 {
  background-color: #b08c4d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item6 {
  background-color: #634f2c;
  display: flex;
  align-items: center;
  justify-content: center;
}
